* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('../images/Back.png');
}

    /* ==> Header <== */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}

header img {
    width: 177px;
}

header > nav > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: #000;
}

header > nav > ul > li > a:hover {
    text-decoration: underline;
}
